/* Header */

.navbar {
  overflow: hidden;
  background-color: #2864ae;
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: flex !important;
  justify-content: start !important;
  flex-wrap: nowrap !important;
  box-shadow: 0px 4px 4px rgb(204, 204, 204);
}

.logo-nav {
  margin-left: 2.5rem;
  margin-bottom: 0.5rem;
  width: 110px;
  height: auto;
}

.home-icon {
  color: white;
}

.navlinks {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar a {
  margin-right: 1rem;
  color: #ffffff;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 30px;
}

.navbar a:hover {
  transition: 0.3s;
  background: white;
  color: #2864ae;
  box-shadow: 0px 1px 6px rgb(78, 78, 78);
}

.nav-btns {
  margin-right: auto;
}

.nav-icon-left {
  margin-right: 5px;
  padding-bottom: 2px;
}

.nav-icon-right {
  margin-left: 5px;
  padding-bottom: 2px;
}

.login-btn {
  margin-left: auto;
}

.user-logo {
  padding-left: 10px;
}

/* Main */

main {
  margin: 30px 8rem 4.1rem 8rem;
  font-family: "Nunito", sans-serif;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin: 0px 8rem;
  align-items: center;
}

.logo {
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 170px;
    height: auto;
}

.topics {
  margin-bottom: 2.5rem;
  width: fit-content;
  display: flex;
  text-align: justify;
}

.topics-container {
  margin-right: 12rem;
}

.topics:nth-of-type(2) {
  margin-left: auto;
  margin-right: 0;
  flex-direction: row-reverse;
}

.topic-img {
  margin: 0px 20px;
}

.topic-img-3 {
margin-top: 10px;
}

.topic-text {
  display: flex;
  flex-direction: column;
  line-height: 150%;
  letter-spacing: -5%;
  font-size: 16px;
}

.video-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.video {
  background-color: #eeeeee;
  border-radius: 20px;
  margin: auto;
  width: 600px;
  height: 400px;
}

.video-icon {
  width: 10px;
  height: auto;
}

.start-btn {
  display: flex;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #2864ae;
  color: white;
  border-radius: 30px;
  border: 2px #2864ae solid;
  height: 46px;
  padding: 10px 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.start-btn:hover {
  transition: 0.3s;
  background: white;
  color: #2864ae;
  border: 2px #2864ae solid;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

/* Footer */

#footer {
  padding: 0 !important;
  font-family: "Nunito", sans-serif;
  color: white;  
}

.copyright {
  padding: 0 2rem;
}

#info {
  margin: 6px 0px 6px 8rem;
}
