<div class="ms-5 container justify-content-center">
<div class="filters"><img class="filters-img" src="/assets/img/Tag.svg">Filtros</div>
    <div class="categories p-3 d-flex justify-content-between ">
      <select [(ngModel)]="districtSelecionado" (change)="GetByDistrict($event.target)" class="form-select w-25" aria-label="Default select example">
        <option value="0">Centro</option>
        <option value="1">Velha</option>
        <option value="2">Victor Konder</option>
      </select>
      <select [(ngModel)]="categorySelecionado" (change)="GetByCategory($event.target)" class="form-select w-25" aria-label="Default select example">
        <option value="0">Alagamento regional</option>
        <option value="1">Terreno irregular</option>
        <option value="2">Irregularidade na estrada</option>
      </select>
        <select [(ngModel)]="statusSelecionado" (change)="GetByStatus($event.target)" class="form-select w-25" aria-label="Default select example">
          <option value="0">Ciente</option>
          <option value="1">Em Andamento</option>
          <option value="2">Resolvido</option>
        </select>
      <button type="button" class="btn btn-dark">Adicionar</button>
    </div>
    <div class="card-list container align-center mx-auto p-5 mt-3">
      <div *ngFor="let occurrence of listOccurrence" class="card mx-auto mb-3 cards">
        <div class="card-body d-flex justify-content-between my-auto">
          <h5 class="card-title my-auto">{{occurrence.id}}</h5>
          <p class="card-text my-auto">{{occurrence.address.street}}, {{occurrence.address.number}} - Bairro {{occurrence.address.district}}</p>
          <p *ngIf="occurrence.category==0"  class="my-auto">Alagamento regional</p>
          <p *ngIf="occurrence.category==1" class="my-auto">Terreno irregular</p>
          <p *ngIf="occurrence.category==2" class="my-auto">Irregularidade na estrada</p>
          <p class="card-text my-auto">{{occurrence.createdOn | date:'MM/dd/yyyy'}}</p>
          <p *ngIf="occurrence.status==0"  style="background-color: #428BFF; border-color: transparent;" href="#" class="btn btn-primary my-auto">Ciente</p>
          <p *ngIf="occurrence.status==1" style="background-color: #FFBF1B; border-color: transparent;" href="#" class="btn btn-primary my-auto">Em Andamento</p>
          <p *ngIf="occurrence.status==2" style="background-color: #6FC63A; border-color: transparent;" href="#" class="btn btn-primary my-auto">Resolvido</p>
          <svg *ngIf="login =='0'" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="height: 2.5rem;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
          </svg>
          <button *ngIf="login !='0'" type="button" class="btn btn-dark">Detalhes</button>
        </div>
      </div>
    </div>
</div>

