<footer style="background-color: rgb(40, 100, 174)">
  <section class="mt-2">
      <div class=" d-flex align-items-center" id="footer">

          <div class="col-md-7  text-center text-md-start">

              <div class="copyright ms-5" style="color:white">
                  © 2023 Copyright:
                  <a class="text-white" href="https://github.com/more-devs-2-blu/code-go">Code-Go</a>
              </div>
          </div>
          <div class="col-md-5 col-lg-5 ml-lg-0 text-center text-md-end" id="info">
              <a href="https://github.com/more-devs-2-blu/code-go"><svg fill="none" stroke="white" width="35px" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"></path>
                </svg>
              </a>
          </div>
      </div>
  </section>
</footer>
